@model HomePageNewsItemsModel
@inject DisplayOrderHomePage order
<div class="news-list-homepage my-3 order-@order.HomePageNews">
    <h2 class="generalTitle text-center mb-3">
        @Loc["News"]
    </h2>
    <div class="col-12 px-0">
        <div class="form-row">
            <b-col lg="@(Model.NewsItems.Count > 1 ? Model.NewsItems.Count > 2 ? "8" : "6" : "12")" cols="12" class="mb-3">
                <b-card class="h-100 shadow cosmoware-card" @if (Model.NewsItems[0].PictureModel != null && !string.IsNullOrEmpty(Model.NewsItems[0].PictureModel.ImageUrl)) { <text> img-src="@Model.NewsItems[0].PictureModel.ImageUrl" img-alt="@Model.NewsItems[0].PictureModel.AlternateText" </text> }>
                    <h5 class="card-title">
                        <b-link href="@Url.RouteUrl("NewsItem", new { SeName = Model.NewsItems[0].SeName })">
                            @Model.NewsItems[0].Title
                        </b-link>
                    </h5>
                    <h6 class="card-subtitle">
                        <small class="date-text">@Model.NewsItems[0].CreatedOn.ToString("D")</small>
                    </h6>
                    <b-card-text class="mt-2">
                        @Html.Raw(Model.NewsItems[0].Short)
                    </b-card-text>
                </b-card>
            </b-col>
            @if (Model.NewsItems.Count > 1)
            {
                <b-col lg="@(Model.NewsItems.Count > 2 ? "4" : "6")" cols="12" class="mb-3">
                    <b-row>
                        <b-col sm="12" cols="12" class="mb-3">
                            <b-card class="h-100 shadow cosmoware-card" @if (Model.NewsItems[1].PictureModel != null && !string.IsNullOrEmpty(Model.NewsItems[1].PictureModel.ImageUrl)) { <text> img-src="@Model.NewsItems[1].PictureModel.ImageUrl" img-alt="@Model.NewsItems[1].PictureModel.AlternateText" </text> }>
                                <h5 class="card-title">
                                    <b-link href="@Url.RouteUrl("NewsItem", new { SeName = Model.NewsItems[1].SeName })">
                                        @Model.NewsItems[1].Title
                                    </b-link>
                                </h5>
                                <h6 class="card-subtitle">
                                    <small class="date-text">@Model.NewsItems[1].CreatedOn.ToString("D")</small>
                                </h6>
                                <b-card-text class="mt-2">
                                    @Html.Raw(Model.NewsItems[1].Short)
                                </b-card-text>
                            </b-card>
                        </b-col>
                        @if (Model.NewsItems.Count > 2)
                        {
                            <b-col sm="12" cols="12">
                                <b-card class="h-100 shadow cosmoware-card" @if (Model.NewsItems[2].PictureModel != null && !string.IsNullOrEmpty(Model.NewsItems[2].PictureModel.ImageUrl)) { <text> img-src="@Model.NewsItems[2].PictureModel.ImageUrl" img-alt="@Model.NewsItems[2].PictureModel.AlternateText" </text> }>
                                    <h5 class="card-title">
                                        <b-link href="@Url.RouteUrl("NewsItem", new { SeName = Model.NewsItems[2].SeName })">
                                            @Model.NewsItems[2].Title
                                        </b-link>
                                    </h5>
                                    <h6 class="card-subtitle">
                                        <small class="date-text">@Model.NewsItems[2].CreatedOn.ToString("D")</small>
                                    </h6>
                                    <b-card-text class="mt-2">
                                        @Html.Raw(Model.NewsItems[2].Short)
                                    </b-card-text>
                                </b-card>
                            </b-col>
                        }
                    </b-row>
                </b-col>
            }
        </div>
        @if (Model.NewsItems.Count > 3)
        {
            <div class="form-row">
                @foreach (var item in Model.NewsItems.Skip(3))
                {
                    <b-col xl="@order.Pn_Xl" lg="@order.Pn_Lg" md="@order.Pn_Md" sm="@order.Pn_Sm" cols="@order.Pn_Col" class="mb-3">
                        <b-card class="h-100 shadow cosmoware-card" @if (item.PictureModel != null && !string.IsNullOrEmpty(item.PictureModel.ImageUrl)) { <text> img-src="@item.PictureModel.ImageUrl" img-alt="@item.PictureModel.AlternateText" </text> }>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <b-link href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">
                                        @item.Title
                                    </b-link>
                                </h5>
                                <h6 class="card-subtitle">
                                    <small class="date-text">@item.CreatedOn.ToString("D")</small>
                                </h6>
                                <b-card-text class="mt-2">
                                    @Html.Raw(item.Short)
                                </b-card-text>
                            </div>
                        </b-card>
                    </b-col>
                }
            </div>
        }
    </div>
    <div class="view-all text-center">
        @*<a class="btn btn-outline-secondary" href="@Url.RouteUrl("NewsArchive")">@Loc["News.ViewAll"]</a>*@
        <a class="btn-theme text-uppercase" href="@Url.RouteUrl("NewsArchive")">@Loc["News.ViewAll"]</a>
    </div>
</div>
